*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    line-height: normal;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #333a3c;
    height: 130px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    position: fixed;
    width: 100%;
    font-family: 'Koulen';
}

.formula-e {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 440px;
    height: 130px;
    font-size: 48px;
}
.image-1-icon {
    position: absolute;
    top: -1px;
    left: 0px;
    width: 128px;
    height: 131px;
    object-fit: cover;
}
.logo {
    width: 100%;
    position: relative;
    height: 130px;
    text-align: center;
    font-size: 48px;
    color: #fff;
    font-family: Koulen;
}

.hyperlink_container{
    display: flex;
    float: right;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 130px;
    padding: 0 20px;
}

.hyperlink_frame{
    flex-shrink: 0;
    display: flex;
    width: 236px;
    height: 130px;
    padding: 42px 41px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    }

.hyperlink_rectangle{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 154px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #14B7ED;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
    
.hyperlink_container a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Koulen';
}

.my_profile_frame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 236px;
    height: 130px;
    padding: 42px 41px;
    flex-shrink: 0;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #333a3c;
    color: white;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    font-family: 'Koulen';
}
.footer_container{
    
    display: flex;
    float: left;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 50px;
    padding: 0 20px;

}

.footer_frame{
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    flex-shrink: 0;
}
.footer_frame ul li{
    list-style-type: none;
    display: inline;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    flex-shrink: 0;
}
.footer_frame ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Koulen';
}
.footer_img_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 50px;
    padding: 10px 20px;
    flex-shrink: 0;
}
.footer_img_container img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.footer_img_container #x{
    width: 45px;
    height: 45px;
    object-fit: cover;
}
.footer_img_container #x:hover{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.footer_img_container img:hover{
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.quicklinks_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 50px;
    padding: 10px 20px;
    flex-shrink: 0;
}

.social_media_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33.33%;
    height: 50px;
    padding: 10px 20px;
    flex-shrink: 0;
}
.footer_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 50px;
    padding: 10px 20px;
    flex-shrink: 0;
}