body{
    background: #5A6E70;
}

.main{
    background-image: url(https://st.depositphotos.com/46435008/58830/i/450/depositphotos_588305124-stock-photo-final-race-2022-nyc-formula.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.main_hyperlinks_container{
    height: 175px;
    width: 300px;
    position: relative;
    top: -20%;
    left: 23%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 30px;

}

.main_hyperlinks_container a{
    text-decoration: none;
    color: #1E1E1E;
    text-align: center;
    font-family: Koulen;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ranking{
    background: #283133;;
    height: 663px;
    width: 30%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 130px;
    right: 0;
    align-items: center;

}

.ranking_title_container{
    background:#187280;
    height: 10%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin: 20px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ranking_title_container h1{
    color: #FFF;
    text-align: center;
    font-family: Koulen;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

.ranking_outer_rectangle{
    border-radius: 7px;
    background: #187280;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 95%;
    width: 80%;
    margin-bottom: 80px;
}

.ranking_inner_rectangle{
    background: #466266;
    height: 90%;
    width: 90%;
    margin: 10px auto;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Koulen;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ranking_inner_rectangle ul li{
    list-style: none;
    margin: 10px 0;
}

.info_slider{
    background-color: #466266;
    height: 200px;
    width: 70%;
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info_slider_option_container{
    background-color: #283133;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Koulen;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info_slider_option_container h1{
    font-size: 24px;
}

.info_slider_buttons_container{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info_slider_images{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.info_slider_images img:first-child{
    position: relative;
    left: -150px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 0;
}

.info_slider_images img:last-child{
    position: relative;
    bottom: 0;
    z-index: 1;
}

.problem{
    background: #5A6E70;
    height: 810px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Koulen;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
}

.problem_title{
    background: #283133;
    height: 15%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.problem_first_section_container{

    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.problem_section1 p{

    padding-left: 40px;
    width: 600px;
    height: 200px;
    text-align: center;
}

.problem_section1 img{
    width: 450px;
    height: 300px;
    padding-bottom: 50px;
}

.problem_text1{
    width: 40%;
    height: 80%;
    background: #283133;
    border-radius: 7px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    line-height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.solution{
    background: #283133;
    height: 810px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Koulen;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
}

.solution_header_container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.solution_header_container > .solution_title, .solution_subtitle, .features{
    background-color: #5A6E70;
    margin: 20px;
    height: 90px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 26px;
}

.solution_title{
    width: 400px;
}

.solution_subtitle{
    width: 800px;
}

.features{
    width: 200px;
}

.features_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.features_container p{
    width: 200px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.reason{
    display: flex;
    width: 100%;
    height: 810px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Koulen;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.reason_title{
    background: #283133;
    height: 15%;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.reason_container{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;
    flex-shrink: 0;
    color: #FFF;
    font-family: Koulen;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.reason_container div{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.reason_text2{
    background: #283133;

    
}