*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: gray;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verticalButtons{
    display: flex;
    flex-direction: column;
}

button{
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor: pointer;
}

#networkCanvas{
    background: rgb(0, 0, 0);
}
#carCanvas{
    background: lightgray;
}